<header class = "header center">
    <h1 class="title">
        <span>Hola</span>,
        mi nombre es
        <span>Ángel</span>
        un
        Desarrollador
        <span>Web</span>
    </h1>
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>

    <picture>
        <source srcset="../../assets/images/ANGEL-.avif" type="image/avif" />
        <source srcset="../../assets/images/ANGEL-.webp" type="image/webp" />
        <img
        class="author fadeInUp"
          loading="lazy"
          src="../../assets/images/ANGEL .jpg"
          width="500"
          height="300"
          alt="imagen de Angel"
        />
      </picture>
</header>
